/* Este repositório base foi criado para te ajudar caso você não saiba como começar. Lembre-se de que o portfólio é a sua carta de apresentação e você deve dar a sua cara. Por isso, convidamos você a personalizá-lo de acordo com o seu estilo e preferências; não se limite apenas ao layout proposto no Figma. */
:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-fundo-menu: #ffffff;
    --cor-do-link: #000000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-do-link);
}

/* ------------------------------ Seção Menu -------------------------------*/

.cabecalho {
    width: 1136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--cor-de-fundo-menu);
    margin: auto;
}

.cabecalho__logo {
    max-width: 80px;
    margin-right: 5px;
    /* Ajuste para telas pequenas */
}

.cabecalho__titulo {
    font-size: 1.2rem;
    text-align: center;
    color: #396367
}

.navegacao__lista {
    display: none;
}

.navegacao__elemento a {
    font-size: 0.9rem;
    color: #2b4b4e
}

/* ------------------------------ Seção Apresentação ------------------------------*/
.apresentacao {
    width: 1136px;
    height: 368px;
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    margin: auto;
    margin-top: 32px;
}

.apresentacao__foto {
    border-radius: 500px;
    border: 1px solid rgb(192, 183, 183);
}

.redes {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

/* ------------------------------ Seção Sobre mim ----------------------------------*/
.sobre-mim {
    width: 1136px;
    height: 255px;
    display: flex;
    width: 1136px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin: auto;
}

.sobre-mim__titulo {
    margin-top: -10px;
}

.sobre-mim__texto {
    width: 751px;
}

/*------------------------------ Seção de Habilidades ------------------------------*/
/*------------------------------ Seção de Hobbies --------------------------------*/
.habilidades,
.hobbies {
    width: 1136px;
    height: 244px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 110px;
}

.habilidades__lista,
.hobbies__lista {
    display: flex;
}

.habilidades__elemento,
.hobbies__elemento {
    display: flex;
    width: 176px;
    height: 94px;
    padding: 16px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.habilidades__icone {
    color: #2A7AE4;
    width: 32px;
    text-align: center;
    font-family: "Font Awesome 5 Brands";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.habilidades__nome {
    align-self: stretch;
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*------------------------------ Seção de Formação Academica --------------------------------*/
.formacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 150px;
}

.formacao__lista {
    display: flex;
    gap: 100px;
}

.formacao__icone {
    width: 40px;
}

.img-alura {
    width: 40px;
}

/*------------------------------ Experiência Profissional ---------------------------------*/
.projetos {
    width: 1136px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.projeto-container {
    display: flex;
    gap: 80px;
}

.projetos__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.projetos__jogoSecreto, h3,
p {
    margin: 4px;
    text-align: center;
}

.projeto__jogoSecreto--img {
    width: 550px;
    border-radius: 10px;
}

.projeto__jogoSecreto--button {
    width: 164px;
    height: 35px;
    border: 1px solid;
    background-color: #20003F;
    padding-top: 7px;
    text-align: center;
    border-radius: 10px;
    color: azure;
}

.projeto__jogoSecreto--button:nth-child(2){
    background-color: white;
    color: #000000;
    font-weight: bold;
}

.projeto__jogoSecreto--assets{
    width: 20px;
}

.projetos__jogoSecreto--links {
    width: 550px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: center;
}
/*------------------------------ Seção de Contato ---------------------------------*/


/* ------------------------------ Responsividade ---------------------------------------*/

/* Tablets e telas maiores */
@media (min-width: 768px) {
    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho__logo {
        max-width: 100px;
    }

    .cabecalho__titulo {
        font-size: 1.5rem;
    }

    .navegacao__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }

    .navegacao__elemento a {
        font-size: 1rem;
    }
}

/* Telas grandes */
@media (min-width: 1024px) {

    /* Aqui você pode ajustar ainda mais o design para telas grandes */
    .cabecalho__titulo {
        font-size: 1.8rem;
    }

    .navegacao__elemento a {
        font-size: 1.1rem;
    }
}