/* Este repositório base foi criado para te ajudar caso você não saiba como começar. Lembre-se de que o portfólio é a sua carta de apresentação e você deve dar a sua cara. Por isso, convidamos você a personalizá-lo de acordo com o seu estilo e preferências; não se limite apenas ao layout proposto no Figma. */
:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-fundo-menu: #ffffff;
    --cor-do-link: #000000;
}

body {
    background-color: rgb(22, 22, 22);
    background-color: write;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}

ol,
ul,
li {
    list-style: none;
    text-align: center
}

a {
    text-decoration: none;
    color: #22d63a;
}

/* ------------------------------ Seção Menu -------------------------------*/
p {
    color: #a8a2a2;
}

.f {
    color: #c7e02e;
}

.a {
    color: #bd6a32;
}

.b {
    color: #22d63a;
}

.i {
    color: #bd3273;
}

.c {
    color: #7B7B7B
}

.n {
    color: #2A7AE4;
}

.o {
    color: #d622d6;
}

h4 {
    color: #e8c368;
}

.l:hover {
    color: #bd6a32;
}

.m:hover {
    color: #1ad4bc;
}

.p:hover {
    color: #ee1794;
}

.y:hover {
    color: #d4c92c;
}

.z:hover {
    color: #1a26d4;
}

.q:hover {
    color: #e03d3d;
}

.cabecalho {
    width: 1136px;
    display: flex;
    padding: 1rem;
    background-color: write;
    margin: auto;
    gap: 9px;
    align-items: center;
    justify-content: center;
}

.cabecalho__logo {
    max-width: 80px;
    margin-right: 5px;
    /* Ajuste para telas pequenas */
}

.cabecalho__titulo {
    font-size: 1.2rem;
    text-align: center;
    color: #f8f8f4;
}

.navegacao__lista {
    display: flex;
    gap: 15px;
}

.navegacao__elemento a {
    font-size: 0.9rem;
    color: #fcfcf8
}

/* ------------------------------ Seção Apresentação ------------------------------*/
.apresentacao__titulo {
    color: #fffffe;
    text-align: left;
}

.apresentacao__subtitulo {
    color: #7B7B7B;
}

.apresentacao {
    width: 1136px;
    height: 290px;
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    margin: auto;
    margin-top: 6px;
    border-radius: 316px;
}

.apresentacao__foto {
    border-radius: 500px;
    border: 2px solid #22d63a;
}

.redes {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

/* ------------------------------ Seção Sobre mim ----------------------------------*/
.sobre-mim {
    width: 1136px;
    height: 255px;
    display: flex;
    width: 1136px;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}

.sobre-mim__titulo,
.habilidades__titulo,
.hobbies__titulo,
.formacao__titulo,
.projetos__titulo,
.contato__titulo,
.formacao__ {
    color: #c8e02e;
}

.sobre-mim__texto {
    width: 751px;
}

/*------------------------------ Seção de Habilidades ------------------------------*/
/*------------------------------ Seção de Hobbies --------------------------------*/
.habilidades,
.hobbies {
    width: 1136px;
    height: 244px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 110px;
    background-color: #b7b7b700;
    border-radius: 15px 15px 15px 15px;
}

.habilidades__lista,
.hobbies__lista {
    display: flex;
    width: 1136px;
    justify-content: space-between;
}

.habilidades__elemento,
.hobbies__elemento {
    display: flex;
    width: 176px;
    height: 94px;
    padding: 16px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.habilidades__icone {
    color: #2A7AE4;
    width: 32px;
    text-align: center;
    font-family: "Font Awesome 5 Brands";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.habilidades__nome {
    align-self: flex-start;
    color: var(--preto-100, #f7f5f5);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*------------------------------ Seção de Formação Academica --------------------------------*/
.formacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    width: 1136px;
    margin: auto;
    background-color: #b7b7b700;
    border-radius: 15px 15px 15px 15px;
    gap: 38px;
    margin-top: 62px;
}

.formacao__nome {
    color: #f0f3f3;
}

.formacao__detalhe {
    color: #7B7B7B;
}

.formacao__lista {
    display: flex;
    gap: 100px;
    padding-left: 0px;
}

.formacao__icone {
    width: 40px;
}

.img-alura {
    width: 40px;
}

/*------------------------------ Experiência Profissional ---------------------------------*/
.projetos {
    width: 1136px;
    display: flex;
    flex-direction: column;
    margin: auto;
}


.projeto__formulario {
    color: #f0f3f3;
}

.projeto-container1,
.projeto-container2 {
    display: flex;
    gap: 80px;
    margin-bottom: 100px;
    background-color: #b7b7b700;
    border-radius: 15px 15px 15px 15px;
    height: 480px;
}

.projetos__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.projetos__jogoSecreto h3 {
    margin: 4px;
    text-align: left;
    color: #a39e9e;
}

.projeto__jogoSecreto--img {
    width: 498px;
    border-radius: 10px;
    border: 2px solid #c7e02e;
    margin-left: 18px;
}

.projeto__jogoSecreto--button {
    width: 245px;
    height: 35px;
    border: 1px solid;
    background-color: #c7e02e;
    padding-top: 7px;
    text-align: center;
    border-radius: 10px;
    color: #111111;
}

.cor-botao--filho {
    color: #000000;
    font-weight: bold;
}

.projeto__jogoSecreto--assets {
    width: 20px;
}

.projetos__jogoSecreto--links {
    width: 498px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: center;
}

.projetos__jogoSecreto,
.projetos__formulario {
    color: aliceblue;
    text-align: center;
}

.p-formulario {
    text-align: center;
}

/*------------------------------ Seção de rodapé ---------------------------------*/
.container__footer {
    width: 1136px;
    height: 200px;
    margin: auto;
}


/*------------------------------ Seção de Contato ---------------------------------*/
.contato {
    width: 1136px;
    height: 500px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato__formulario {
    width: 700px;
    height: 420px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #a8a2a2;
}

.contato__formulario--divisao {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.contato__campo {
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    text-align: left;
}

.contato__campo--textarea {
    font-size: 18px;
}

.contato__botao1 {
    width: 300px;
    height: 100px;
    margin-left: 182px;
    background-color: #C7E02E;
    font-weight: bold;
    border-radius: 5px;
}

.footer__titulo {
    padding: 20px;
    color: #a8a2a2;
    font-size: 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 100px;
}

.icones__footer--teste {
    width: 40px;
}

.container__footer--icones {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}





/* Telas mobile */
@media (min-width: 328px) {

    /* Aqui você pode ajustar ainda mais o design para telas mobile */
    .cabecalho {
        width: 1136px;
        display: flex;
        padding: 1rem;
        background-color: write;
        margin: auto;
        gap: 9px;
        align-items: center;
        justify-content: flex-start;
    }

    .abecalho__titulo {
        font-size: 1.8rem;
    }

    .navegacao__elemento a {
        font-size: 1.1rem;
    }

}