/* Este repositório base foi criado para te ajudar caso você não saiba como começar. Lembre-se de que o portfólio é a sua carta de apresentação e você deve dar a sua cara. Por isso, convidamos você a personalizá-lo de acordo com o seu estilo e preferências; não se limite apenas ao layout proposto no Figma. */
:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-fundo-menu: #ffffff;
    --cor-do-link: #000000;
}

body {
    background-color: rgb(37, 35, 35);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
    /*color: #e8c368;*/
}

ol,
ul,
li {
    list-style: none;
    text-align: center
}

a {
    text-decoration: none;
    color: #c7e02e;
}

/* ------------------------------ Seção Menu -------------------------------*/
p {
    color: #a8a2a2;
}

.cabecalho {
    width: 1136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #252323;
    margin: auto;
}

.cabecalho__logo {
    max-width: 80px;
    margin-right: 5px;
    /* Ajuste para telas pequenas */
}

.cabecalho__titulo {
    font-size: 1.2rem;
    text-align: center;
    color: #c7e02e;
}

.navegacao__lista {
    display: none;
}

.navegacao__elemento a {
    font-size: 0.9rem;
    color: #c7e02e
}

/* ------------------------------ Seção Apresentação ------------------------------*/
.apresentacao__titulo {
    color: #a2ab6b9c;
    text-align: left;
}

.apresentacao {
    width: 1136px;
    height: 368px;
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    margin: auto;
    margin-top: 32px;
    border-radius: 316px;
    /* background-color: #b7b7b71e; */
    /* border-radius: 15px 15px 15px 15px; */
}

.apresentacao__foto {
    border-radius: 500px;
    border: 1px solid #c7e02e47;
}

.redes {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

/* ------------------------------ Seção Sobre mim ----------------------------------*/
.sobre-mim {
    width: 1136px;
    height: 255px;
    display: flex;
    width: 1136px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin: auto;
}

.sobre-mim__titulo,
.habilidades__titulo,
.hobbies__titulo,
.formacao__titulo,
.projetos__titulo,
.contato__titulo,
.formacao__ {
    color: #c7e02ea8;
    opacity: 50%;
}

.sobre-mim__texto {
    width: 751px;
}

/*------------------------------ Seção de Habilidades ------------------------------*/
/*------------------------------ Seção de Hobbies --------------------------------*/
.habilidades,
.hobbies {
    width: 1136px;
    height: 244px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 110px;
    background-color: #b7b7b71e;
    border-radius: 15px 15px 15px 15px;
}

.habilidades__lista,
.hobbies__lista {
    display: flex;
    width: 1136px;
    justify-content: space-between;
}

.habilidades__elemento,
.hobbies__elemento {
    display: flex;
    width: 176px;
    height: 94px;
    padding: 16px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.habilidades__icone {
    color: #2A7AE4;
    width: 32px;
    text-align: center;
    font-family: "Font Awesome 5 Brands";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.habilidades__nome {
    align-self: stretch;
    color: var(--preto-100, #f7f5f5);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*------------------------------ Seção de Formação Academica --------------------------------*/
.formacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    width: 1136px;
    margin: auto;
    background-color: #b7b7b71e;
    border-radius: 15px 15px 15px 15px;
    gap: 38px;
    margin-top: 62px;
}

.formacao__nome {
    color: #f0f3f3;
}

.formacao__detalhe {
    color: #7B7B7B;
}

.formacao__lista {
    display: flex;
    gap: 100px;
    padding-left: 0px;
}

.formacao__icone {
    width: 40px;
}

.img-alura {
    width: 40px;
}

/*------------------------------ Experiência Profissional ---------------------------------*/
.projetos {
    width: 1136px;
    display: flex;
    flex-direction: column;
    margin: auto;
}


.projeto__formulario {
    color: #f0f3f3;
}

.projeto-container1,
.projeto-container2 {
    display: flex;
    gap: 80px;
    margin-bottom: 100px;
    background-color: #b7b7b71e;
    border-radius: 15px 15px 15px 15px;
    height: 480px;
}

.projetos__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.projetos__jogoSecreto h3 {
    margin: 4px;
    text-align: left;
    color: #a39e9e;
}

.projeto__jogoSecreto--img {
    width: 498px;
    border-radius: 10px;
    border: 2px solid #c7e02e;
    margin-left: 18px;
}

.projeto__jogoSecreto--button {
    width: 164px;
    height: 35px;
    border: 1px solid;
    background-color: #c7e02e;
    padding-top: 7px;
    text-align: center;
    border-radius: 10px;
    color: #111111;
}

.cor-botao--filho {
    color: #000000;
    font-weight: bold;
}

.projeto__jogoSecreto--assets {
    width: 20px;
}

.projetos__jogoSecreto--links {
    width: 498px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: center;
}

.projetos__jogoSecreto,
.projetos__formulario {
    color: aliceblue;
    text-align: center;
}

.p-formulario {
    text-align: center;
}

/*------------------------------ Seção de Contato ---------------------------------*/
.contato {
    width: 1136px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7B7B7B;
    gap: 148px;
    margin: auto;
}

.contato__formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.contato__formulario--grupo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contato__campo {
    height: 50px;
    width: 600px;
    border-radius: 5px;
    font-size: 20px;
}

.contato__botao{
    width: 600px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: #c7e02e;
}
.telefone-contato{
    width: 50px;
    height: 50px;
}
/* ------------------------------ Responsividade ---------------------------------------*/

/* Tablets e telas maiores */
@media (min-width: 768px) {
    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho__logo {
        max-width: 100px;
    }

    .cabecalho__titulo {
        font-size: 1.5rem;
    }

    .navegacao__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }

    .navegacao__elemento a {
        font-size: 1rem;
    }
}

/* Telas grandes */
@media (min-width: 1024px) {

    /* Aqui você pode ajustar ainda mais o design para telas grandes */
    .cabecalho__titulo {
        font-size: 1.8rem;
    }

    .navegacao__elemento a {
        font-size: 1.1rem;
    }
}